PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=0XJuj0jy5-yEbu2i3ko4YF6cHGGThwDU
DRIVE_DISK=local
DB_CONNECTION=pg
PG_HOST=localhost
PG_PORT=5432
PG_USER=lucid
PG_PASSWORD=
PG_DB_NAME=lucid
SMTP_HOST=localhost
SMTP_PORT=587
SMTP_USERNAME=<username>
SMTP_PASSWORD=<password>

MAIL_DOMAIN=usetab.co
CACHE_VIEWS=false

PAYSTACK_SECRET_KEY=paystack_secret_key
PAYSTACK_URL=https://api.paystack.co
